@media (min-width: 1000px) {

    h1 {
        color: #B40A00;
        text-align: center;
        vertical-align: middle;
    }

    .article-page {
        display: flex;
        margin-top: 30px;
    }

    .article-title,
    .article-text {
        flex: 1;
    }

    .article-text {
        width: 80%;
        margin: auto;
        background-color: white;
    }

    .article-title p {
        font-size: 20px;
        width: 80%;
    }
}

@media (max-width: 999px) {

    h1 {
        color: #B40A00;
        text-align: center;
        vertical-align: middle;
        font-size: 25px;
    }

    .article-title p {
        font-size: 15px;
    }
}